body,
html {
	background: url(./img/1.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: white;
	font-size: 4rem;
	transform: rotate(90deg);
}

select {
	width: 100%;
	outline: 0;
	border: 0;
	font-size: 1.4rem;
	font-weight: bolder;
	padding: 0.9rem;
	border-radius: 5px;
	background: url(img/2.png) repeat;
}
